.realTimeDataCard {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 99.5%;
  height: 20%;
  border: 1px solid #23426b;
  background-color: rgba(37, 64, 106, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  box-sizing: content-box;
  padding-top: 10px;
}
.realTimeDataCard .cardLeft {
  width: 45%;
  height: 100%;
  max-height: 200px;
  color: #fff;
  padding: 5px 40px;
}
.realTimeDataCard .cardLeft h3 {
  font-size: 25px;
  font-weight: 500;
}
.realTimeDataCard .cardLeft p {
  font-size: 17px;
  margin-top: 10px;
}
.realTimeDataCard .cardLeft .active {
  color: #01dbe3;
}
.realTimeDataCard .cardLeft ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.realTimeDataCard .cardLeft ul li {
  width: 33%;
  font-size: 15px;
  margin-top: 10px;
}
.realTimeDataCard .cardRight {
  width: 55%;
  height: 100%;
  max-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  flex-direction: column;
}
.realTimeDataCard .cardRight h3 {
  font-size: 25px;
}
